{% extends 'deliveryperson/basepage.html' %}{% load static %} {% block content %} 
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row gy-6">
      <!-- Congratulations card -->
      <div class="col-md-12 col-lg-4">
        <div class="card">
          <div class="card-body text-nowrap">
            <h5 class="card-title mb-0 flex-wrap text-nowrap">
              Welcome {% if first_name %} {{ first_name }} 🎉 {% else %} Guest {% endif %}
            </h5>
  
            <p class="mb-2">Best Delivery Person of the month</p>
            <h4 class="text-primary mb-0">$42.8k</h4>
            <p class="mb-2">78% of target 🚀</p>
            <a href="javascript:;" class="btn btn-sm btn-primary">View Sales</a>
          </div>
          <img
            src="{% static 'admin/assets/img/illustrations/trophy.png' %}"
            class="position-absolute bottom-0 end-0 me-5 mb-5"
            width="83"
            alt="view sales"
          />
        </div>
      </div>
      <!--/ Congratulations card -->
  
      <!-- Transactions -->
      <div class="col-lg-8">
        <div class="card h-100">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title m-0 me-2">Transactions</h5>
              <div class="dropdown">
                <button
                  class="btn text-muted p-0"
                  type="button"
                  id="transactionID"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="ri-more-2-line ri-24px"></i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="transactionID"
                >
                  <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                  <a class="dropdown-item" href="javascript:void(0);">Share</a>
                  <a class="dropdown-item" href="javascript:void(0);">Update</a>
                </div>
              </div>
            </div>
            <p class="small mb-0">
              <span class="h6 mb-0">Total 48.5% Growth</span> 😎 this month
            </p>
          </div>
          <div class="card-body pt-lg-10">
            <div class="row g-6">
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="avatar">
                    <div class="avatar-initial bg-success rounded shadow-xs">
                      <i class="ri-group-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="ms-3">
                    <p class="mb-0">Customers</p>
                    <h5 class="mb-0">12.5k</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="avatar">
                    <div class="avatar-initial bg-warning rounded shadow-xs">
                      <i class="ri-macbook-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="ms-3">
                    <p class="mb-0">Product delivered</p>
                    <h5 class="mb-0">1.54k</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Transactions -->
      <!-- Data Tables -->
      <div class="col-xl-12 col-md-6">
        <div class="card overflow-hidden">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Bidder Name</th>
                    <th>Bidder Address</th>
                    <th>Seller Name</th>
                    <th>Win Price</th>
                    <th>Order Status</th>
                    <th>Delivery Person</th>
                    <th>Delivery Time</th>
                    <th>Actions</th><th>Invoice</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.bidding.product.name }}</td>
                    <td>{{ order.bidder.username }}</td>
                    <td>Address of biddder</td>
                    <td>{{ order.seller.username }}</td>
                    <td>${{ order.winprice }}</td>
                    <td>{{ order.orderstatus }}</td>
                    
                        <td>
                            {% if order.deliveryperson %}
                              {{ order.deliveryperson.user.username }}
                            {% else %}
                              N/A
                            {% endif %}
                          </td>
                    <td>{{ order.deliverytime|date:'Y-m-d H:i' }}</td>
                    <td>
                      <a
                        href="{% url 'edit_order_delivery' order.id %}"
                        class="btn btn-warning"
                        >Edit</a
                      >
                    </td>
                    <td>
                      <a
                        href="{% url 'generate_invoice_pdf' order.id %}"
                        class="btn btn-warning"
                        >Invoice</a
                      ></td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="7" class="text-center">
                      No orders available.
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <!--/ Data Tables -->
    </div>
  </div>
{% endblock %}